<div>
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">
			369 Scalable FontAwesome Icons <small> <a
				href="http://fontawesome.io/icons/" target="_blank"> (see all
					icons <i class="ace-icon fa fa-external-link"></i>)
			</a>
			</small>
		</h3>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon fa fa-adjust"></i> fa-adjust</li>

			<li><i class="ace-icon fa fa-asterisk"></i> fa-asterisk</li>

			<li><i class="ace-icon fa fa-ban"></i> fa-ban</li>

			<li><i class="ace-icon fa fa-bar-chart-o"></i> fa-bar-chart-o</li>

			<li><i class="ace-icon fa fa-barcode"></i> fa-barcode</li>

			<li><i class="ace-icon fa fa-flask"></i> fa-flask</li>

			<li><i class="ace-icon fa fa-beer"></i> fa-beer</li>

			<li><i class="ace-icon fa fa-bell-o"></i> fa-bell-o</li>

			<li><i class="ace-icon fa fa-bell"></i> fa-bell</li>

			<li><i class="ace-icon fa fa-bolt"></i> fa-bolt</li>

			<li><i class="ace-icon fa fa-book"></i> fa-book</li>

			<li><i class="ace-icon fa fa-bookmark"></i> fa-bookmark</li>

			<li><i class="ace-icon fa fa-bookmark-o"></i> fa-bookmark-o</li>

			<li><i class="ace-icon fa fa-briefcase"></i> fa-briefcase</li>

			<li><i class="ace-icon fa fa-bullhorn"></i> fa-bullhorn</li>

			<li><i class="ace-icon fa fa-calendar"></i> fa-calendar</li>

			<li><i class="ace-icon fa fa-camera"></i> fa-camera</li>

			<li><i class="ace-icon fa fa-camera-retro"></i> fa-camera-retro
			</li>

			<li><i class="ace-icon fa fa-certificate"></i> fa-certificate</li>
		</ul>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon fa fa-check-square-o"></i>
				fa-check-square-o</li>

			<li><i class="ace-icon fa fa-square-o"></i> fa-square-o</li>

			<li><i class="ace-icon fa fa-circle"></i> fa-circle</li>

			<li><i class="ace-icon fa fa-circle-o"></i> fa-circle-o</li>

			<li><i class="ace-icon fa fa-cloud"></i> fa-cloud</li>

			<li><i class="ace-icon fa fa-cloud-download"></i>
				fa-cloud-download</li>

			<li><i class="ace-icon fa fa-cloud-upload"></i> fa-cloud-upload
			</li>

			<li><i class="ace-icon fa fa-coffee"></i> fa-coffee</li>

			<li><i class="ace-icon fa fa-cog"></i> fa-cog</li>

			<li><i class="ace-icon fa fa-cogs"></i> fa-cogs</li>

			<li><i class="ace-icon fa fa-comment"></i> fa-comment</li>

			<li><i class="ace-icon fa fa-comment-o"></i> fa-comment-o</li>

			<li><i class="ace-icon fa fa-comments"></i> fa-comments</li>

			<li><i class="ace-icon fa fa-comments-o"></i> fa-comments-o</li>

			<li><i class="ace-icon fa fa-credit-card"></i> fa-credit-card</li>

			<li><i class="ace-icon fa fa-tachometer"></i> fa-tachometer</li>

			<li><i class="ace-icon fa fa-desktop"></i> fa-desktop</li>

			<li><i class="ace-icon fa fa-arrow-circle-o-down"></i>
				fa-arrow-circle-o-down</li>

			<li><i class="ace-icon fa fa-download"></i> fa-download</li>
		</ul>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon fa fa-pencil-square-o"></i>
				fa-pencil-square-o</li>

			<li><i class="ace-icon fa fa-envelope"></i> fa-envelope</li>

			<li><i class="ace-icon fa fa-envelope-o"></i> fa-envelope-o</li>

			<li><i class="ace-icon fa fa-exchange"></i> fa-exchange</li>

			<li><i class="ace-icon fa fa-exclamation-circle"></i>
				fa-exclamation-circle</li>

			<li><i class="ace-icon fa fa-external-link"></i>
				fa-external-link</li>

			<li><i class="ace-icon fa fa-eye-slash"></i> fa-eye-slash</li>

			<li><i class="ace-icon fa fa-eye"></i> fa-eye</li>

			<li><i class="ace-icon fa fa-video-camera"></i> fa-video-camera
			</li>

			<li><i class="ace-icon fa fa-fighter-jet"></i> fa-fighter-jet</li>

			<li><i class="ace-icon fa fa-film"></i> fa-film</li>

			<li><i class="ace-icon fa fa-filter"></i> fa-filter</li>

			<li><i class="ace-icon fa fa-fire"></i> fa-fire</li>

			<li><i class="ace-icon fa fa-flag"></i> fa-flag</li>

			<li><i class="ace-icon fa fa-folder"></i> fa-folder</li>

			<li><i class="ace-icon fa fa-folder-open"></i> fa-folder-open</li>

			<li><i class="ace-icon fa fa-folder-o"></i> fa-folder-o</li>

			<li><i class="ace-icon fa fa-folder-open-o"></i>
				fa-folder-open-o</li>

			<li><i class="ace-icon fa fa-cutlery"></i> fa-cutlery</li>
		</ul>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon fa fa-gift"></i> fa-gift</li>

			<li><i class="ace-icon fa fa-glass"></i> fa-glass</li>

			<li><i class="ace-icon fa fa-globe"></i> fa-globe</li>

			<li><i class="ace-icon fa fa-users"></i> fa-users</li>

			<li><i class="ace-icon fa fa-hdd-o"></i> fa-hdd-o</li>

			<li><i class="ace-icon fa fa-headphones"></i> fa-headphones</li>

			<li><i class="ace-icon fa fa-heart"></i> fa-heart</li>

			<li><i class="ace-icon fa fa-heart-o"></i> fa-heart-o</li>

			<li><i class="ace-icon fa fa-home"></i> fa-home</li>

			<li><i class="ace-icon fa fa-inbox"></i> fa-inbox</li>

			<li><i class="ace-icon fa fa-info-circle"></i> fa-info-circle</li>

			<li><i class="ace-icon fa fa-key"></i> fa-key</li>

			<li><i class="ace-icon fa fa-leaf"></i> fa-leaf</li>

			<li><i class="ace-icon fa fa-laptop"></i> fa-laptop</li>

			<li><i class="ace-icon fa fa-gavel"></i> fa-gavel</li>

			<li><i class="ace-icon fa fa-lemon-o"></i> fa-lemon-o</li>

			<li><i class="ace-icon fa fa-lightbulb-o"></i> fa-lightbulb-o</li>

			<li><i class="ace-icon fa fa-lock"></i> fa-lock</li>

			<li><i class="ace-icon fa fa-unlock"></i> fa-unlock</li>
		</ul>
	</div>

	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">
			200 Scalable Glyphicons <small> <a
				href="http://getbootstrap.com/components/#glyphicons"
				target="_blank"> (see all icons <i
					class="ace-icon fa fa-external-link"></i>)
			</a>
			</small>
		</h3>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon glyphicon glyphicon-asterisk"></i>
				glyphicon-asterisk</li>

			<li><i class="ace-icon glyphicon glyphicon-plus"></i>
				glyphicon-plus</li>

			<li><i class="ace-icon glyphicon glyphicon-euro"></i>
				glyphicon-euro</li>

			<li><i class="ace-icon glyphicon glyphicon-minus"></i>
				glyphicon-minus</li>

			<li><i class="ace-icon glyphicon glyphicon-cloud"></i>
				glyphicon-cloud</li>

			<li><i class="ace-icon glyphicon glyphicon-envelope"></i>
				glyphicon-envelope</li>

			<li><i class="ace-icon glyphicon glyphicon-pencil"></i>
				glyphicon-pencil</li>

			<li><i class="ace-icon glyphicon glyphicon-glass"></i>
				glyphicon-glass</li>

			<li><i class="ace-icon glyphicon glyphicon-music"></i>
				glyphicon-music</li>

			<li><i class="ace-icon glyphicon glyphicon-search"></i>
				glyphicon-search</li>

			<li><i class="ace-icon glyphicon glyphicon-heart"></i>
				glyphicon-heart</li>

			<li><i class="ace-icon glyphicon glyphicon-star"></i>
				glyphicon-star</li>

			<li><i class="ace-icon glyphicon glyphicon-star"></i>
				glyphicon-star-empty</li>

			<li><i class="ace-icon glyphicon glyphicon-user"></i>
				glyphicon-user</li>

			<li><i class="ace-icon glyphicon glyphicon-film"></i>
				glyphicon-film</li>

			<li><i class="ace-icon glyphicon glyphicon-th"></i>
				glyphicon-th-large</li>

			<li><i class="ace-icon glyphicon glyphicon-th"></i> glyphicon-th
			</li>

			<li><i class="ace-icon glyphicon glyphicon-th"></i>
				glyphicon-th-list</li>

			<li><i class="ace-icon glyphicon glyphicon-ok"></i> glyphicon-ok
			</li>
		</ul>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon glyphicon glyphicon-remove"></i>
				glyphicon-remove</li>

			<li><i class="ace-icon glyphicon glyphicon-zoom-in"></i>
				glyphicon-zoom-in</li>

			<li><i class="ace-icon glyphicon glyphicon-zoom-out"></i>
				glyphicon-zoom-out</li>

			<li><i class="ace-icon glyphicon glyphicon-off"></i>
				glyphicon-off</li>

			<li><i class="ace-icon glyphicon glyphicon-signal"></i>
				glyphicon-signal</li>

			<li><i class="ace-icon glyphicon glyphicon-cog"></i>
				glyphicon-cog</li>

			<li><i class="ace-icon glyphicon glyphicon-trash"></i>
				glyphicon-trash</li>

			<li><i class="ace-icon glyphicon glyphicon-home"></i>
				glyphicon-home</li>

			<li><i class="ace-icon glyphicon glyphicon-file"></i>
				glyphicon-file</li>

			<li><i class="ace-icon glyphicon glyphicon-time"></i>
				glyphicon-time</li>

			<li><i class="ace-icon glyphicon glyphicon-road"></i>
				glyphicon-road</li>

			<li><i class="ace-icon glyphicon glyphicon-download"></i>
				glyphicon-download-alt</li>

			<li><i class="ace-icon glyphicon glyphicon-download"></i>
				glyphicon-download</li>

			<li><i class="ace-icon glyphicon glyphicon-upload"></i>
				glyphicon-upload</li>

			<li><i class="ace-icon glyphicon glyphicon-inbox"></i>
				glyphicon-inbox</li>

			<li><i class="ace-icon glyphicon glyphicon-play"></i>
				glyphicon-play-circle</li>

			<li><i class="ace-icon glyphicon glyphicon-repeat"></i>
				glyphicon-repeat</li>

			<li><i class="ace-icon glyphicon glyphicon-refresh"></i>
				glyphicon-refresh</li>

			<li><i class="ace-icon glyphicon glyphicon-list"></i>
				glyphicon-list-alt</li>
		</ul>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon glyphicon glyphicon-lock"></i>
				glyphicon-lock</li>

			<li><i class="ace-icon glyphicon glyphicon-flag"></i>
				glyphicon-flag</li>

			<li><i class="ace-icon glyphicon glyphicon-headphones"></i>
				glyphicon-headphones</li>

			<li><i class="ace-icon glyphicon glyphicon-volume-off"></i>
				glyphicon-volume-off</li>

			<li><i class="ace-icon glyphicon glyphicon-volume-down"></i>
				glyphicon-volume-down</li>

			<li><i class="ace-icon glyphicon glyphicon-volume-up"></i>
				glyphicon-volume-up</li>

			<li><i class="ace-icon glyphicon glyphicon-qrcode"></i>
				glyphicon-qrcode</li>

			<li><i class="ace-icon glyphicon glyphicon-barcode"></i>
				glyphicon-barcode</li>

			<li><i class="ace-icon glyphicon glyphicon-tag"></i>
				glyphicon-tag</li>

			<li><i class="ace-icon glyphicon glyphicon-tags"></i>
				glyphicon-tags</li>

			<li><i class="ace-icon glyphicon glyphicon-book"></i>
				glyphicon-book</li>

			<li><i class="ace-icon glyphicon glyphicon-bookmark"></i>
				glyphicon-bookmark</li>

			<li><i class="ace-icon glyphicon glyphicon-print"></i>
				glyphicon-print</li>

			<li><i class="ace-icon glyphicon glyphicon-camera"></i>
				glyphicon-camera</li>

			<li><i class="ace-icon glyphicon glyphicon-font"></i>
				glyphicon-font</li>

			<li><i class="ace-icon glyphicon glyphicon-bold"></i>
				glyphicon-bold</li>

			<li><i class="ace-icon glyphicon glyphicon-italic"></i>
				glyphicon-italic</li>

			<li><i class="ace-icon glyphicon glyphicon-text-height"></i>
				glyphicon-text-height</li>

			<li><i class="ace-icon glyphicon glyphicon-text-width"></i>
				glyphicon-text-width</li>
		</ul>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="ace-icon glyphicon glyphicon-align-left"></i>
				glyphicon-align-left</li>

			<li><i class="ace-icon glyphicon glyphicon-align-center"></i>
				glyphicon-align-center</li>

			<li><i class="ace-icon glyphicon glyphicon-align-right"></i>
				glyphicon-align-right</li>

			<li><i class="ace-icon glyphicon glyphicon-align-justify"></i>
				glyphicon-align-justify</li>

			<li><i class="ace-icon glyphicon glyphicon-list"></i>
				glyphicon-list</li>

			<li><i class="ace-icon glyphicon glyphicon-indent-left"></i>
				glyphicon-indent-left</li>

			<li><i class="ace-icon glyphicon glyphicon-indent-right"></i>
				glyphicon-indent-right</li>

			<li><i class="ace-icon glyphicon glyphicon-facetime-video"></i>
				glyphicon-facetime-video</li>

			<li><i class="ace-icon glyphicon glyphicon-picture"></i>
				glyphicon-picture</li>

			<li><i class="ace-icon glyphicon glyphicon-map-marker"></i>
				glyphicon-map-marker</li>

			<li><i class="ace-icon glyphicon glyphicon-adjust"></i>
				glyphicon-adjust</li>

			<li><i class="ace-icon glyphicon glyphicon-tint"></i>
				glyphicon-tint</li>

			<li><i class="ace-icon glyphicon glyphicon-edit"></i>
				glyphicon-edit</li>

			<li><i class="ace-icon glyphicon glyphicon-share"></i>
				glyphicon-share</li>

			<li><i class="ace-icon glyphicon glyphicon-check"></i>
				glyphicon-check</li>

			<li><i class="ace-icon glyphicon glyphicon-move"></i>
				glyphicon-move</li>

			<li><i class="ace-icon glyphicon glyphicon-step-backward"></i>
				glyphicon-step-backward</li>

			<li><i class="ace-icon glyphicon glyphicon-fast-backward"></i>
				glyphicon-fast-backward</li>

			<li><i class="ace-icon glyphicon glyphicon-backward"></i>
				glyphicon-backward</li>
		</ul>
	</div>

<div class="col-xs-12">
		<h3 class="header smaller lighter blue">
			369 Scalable FontAwesome Icons <small> <a
				href="http://fontawesome.io/icons/" target="_blank"> (see all
					icons <i class="ace-icon fa fa-external-link"></i>)
			</a>
			</small>
		</h3>
	</div>

	<div class="col-xs-6 col-sm-3">
		<ul class="list-unstyled">
			<li><i class="icon-large ace-icon glyphicon"></i> icon-large</li>
			<li><i class="icon-glass ace-icon glyphicon"></i> icon-glass</li>
			<li><i class="icon-music ace-icon glyphicon"></i> icon-music</li>
			<li><i class="icon-search ace-icon glyphicon"></i> icon-search</li>
			<li><i class="icon-envelope-alt ace-icon glyphicon"></i>
				icon-envelope-alt</li>
			<li><i class="icon-heart ace-icon glyphicon"></i> icon-heart</li>
			<li><i class="icon-star ace-icon glyphicon"></i> icon-star</li>
			<li><i class="icon-star-empty ace-icon glyphicon"></i>
				icon-star-empty</li>
			<li><i class="icon-user ace-icon glyphicon"></i> icon-user</li>
			<li><i class="icon-film ace-icon glyphicon"></i> icon-film</li>
			<li><i class="icon-th-large ace-icon glyphicon"></i>
				icon-th-large</li>
			<li><i class="icon-th ace-icon glyphicon"></i> icon-th</li>
			<li><i class="icon-th-list ace-icon glyphicon"></i> icon-th-list</li>
			<li><i class="icon-ok ace-icon glyphicon"></i> icon-ok</li>
			<li><i class="icon-remove ace-icon glyphicon"></i> icon-remove</li>
			<li><i class="icon-zoom-in ace-icon glyphicon"></i> icon-zoom-in</li>
			<li><i class="icon-zoom-out ace-icon glyphicon"></i>
				icon-zoom-out</li>
			<li><i class="icon-off ace-icon glyphicon"></i> icon-off</li>
			<li><i class="icon-power-off ace-icon glyphicon"></i>
				icon-power-off</li>
			<li><i class="icon-signal ace-icon glyphicon"></i> icon-signal</li>
			<li><i class="icon-cog ace-icon glyphicon"></i> icon-cog</li>
			<li><i class="icon-gear ace-icon glyphicon"></i> icon-gear</li>
			<li><i class="icon-trash ace-icon glyphicon"></i> icon-trash</li>
			<li><i class="icon-home ace-icon glyphicon"></i> icon-home</li>
			<li><i class="icon-file-alt ace-icon glyphicon"></i>
				icon-file-alt</li>
			<li><i class="icon-time ace-icon glyphicon"></i> icon-time</li>
			<li><i class="icon-road ace-icon glyphicon"></i> icon-road</li>
			<li><i class="icon-download-alt ace-icon glyphicon"></i>
				icon-download-alt</li>
			<li><i class="icon-download ace-icon glyphicon"></i>
				icon-download</li>
			<li><i class="icon-upload ace-icon glyphicon"></i> icon-upload</li>
			<li><i class="icon-inbox ace-icon glyphicon"></i> icon-inbox</li>
			<li><i class="icon-play-circle ace-icon glyphicon"></i>
				icon-play-circle</li>
			<li><i class="icon-repeat ace-icon glyphicon"></i> icon-repeat</li>
			<li><i class="icon-rotate-right ace-icon glyphicon"></i>
				icon-rotate-right</li>
			<li><i class="icon-refresh ace-icon glyphicon"></i> icon-refresh</li>
			<li><i class="icon-list-alt ace-icon glyphicon"></i>
				icon-list-alt</li>
			<li><i class="icon-lock ace-icon glyphicon"></i> icon-lock</li>
			<li><i class="icon-flag ace-icon glyphicon"></i> icon-flag</li>
			<li><i class="icon-headphones ace-icon glyphicon"></i>
				icon-headphones</li>
			<li><i class="icon-volume-off ace-icon glyphicon"></i>
				icon-volume-off</li>
			<li><i class="icon-volume-down ace-icon glyphicon"></i>
				icon-volume-down</li>
			<li><i class="icon-volume-up ace-icon glyphicon"></i>
				icon-volume-up</li>
			<li><i class="icon-qrcode ace-icon glyphicon"></i> icon-qrcode</li>
			<li><i class="icon-barcode ace-icon glyphicon"></i> icon-barcode</li>
			<li><i class="icon-tag ace-icon glyphicon"></i> icon-tag</li>
			<li><i class="icon-tags ace-icon glyphicon"></i> icon-tags</li>
			<li><i class="icon-book ace-icon glyphicon"></i> icon-book</li>
			<li><i class="icon-bookmark ace-icon glyphicon"></i>
				icon-bookmark</li>
			<li><i class="icon-print ace-icon glyphicon"></i> icon-print</li>
			<li><i class="icon-camera ace-icon glyphicon"></i> icon-camera</li>
			<li><i class="icon-font ace-icon glyphicon"></i> icon-font</li>
			<li><i class="icon-bold ace-icon glyphicon"></i> icon-bold</li>
			<li><i class="icon-italic ace-icon glyphicon"></i> icon-italic</li>
			<li><i class="icon-text-height ace-icon glyphicon"></i>
				icon-text-height</li>
			<li><i class="icon-text-width ace-icon glyphicon"></i>
				icon-text-width</li>
			<li><i class="icon-align-left ace-icon glyphicon"></i>
				icon-align-left</li>
			<li><i class="icon-align-center ace-icon glyphicon"></i>
				icon-align-center</li>
			<li><i class="icon-align-right ace-icon glyphicon"></i>
				icon-align-right</li>
			<li><i class="icon-align-justify ace-icon glyphicon"></i>
				icon-align-justify</li>
			<li><i class="icon-list ace-icon glyphicon"></i> icon-list</li>
			<li><i class="icon-indent-left ace-icon glyphicon"></i>
				icon-indent-left</li>
			<li><i class="icon-indent-right ace-icon glyphicon"></i>
				icon-indent-right</li>
			<li><i class="icon-facetime-video ace-icon glyphicon"></i>
				icon-facetime-video</li>
			<li><i class="icon-picture ace-icon glyphicon"></i> icon-picture</li>
			<li><i class="icon-pencil ace-icon glyphicon"></i> icon-pencil</li>
			<li><i class="icon-map-marker ace-icon glyphicon"></i>
				icon-map-marker</li>
			<li><i class="icon-adjust ace-icon glyphicon"></i> icon-adjust</li>
			<li><i class="icon-tint ace-icon glyphicon"></i> icon-tint</li>
			<li><i class="icon-edit ace-icon glyphicon"></i> icon-edit</li>
			<li><i class="icon-share ace-icon glyphicon"></i> icon-share</li>
			<li><i class="icon-check ace-icon glyphicon"></i> icon-check</li>
			<li><i class="icon-move ace-icon glyphicon"></i> icon-move</li>
			<li><i class="icon-step-backward ace-icon glyphicon"></i>
				icon-step-backward</li>
			<li><i class="icon-fast-backward ace-icon glyphicon"></i>
				icon-fast-backward</li>
			<li><i class="icon-backward ace-icon glyphicon"></i>
				icon-backward</li>
			<li><i class="icon-play ace-icon glyphicon"></i> icon-play</li>
			<li><i class="icon-pause ace-icon glyphicon"></i> icon-pause</li>
			<li><i class="icon-stop ace-icon glyphicon"></i> icon-stop</li>
			<li><i class="icon-forward ace-icon glyphicon"></i> icon-forward</li>
			<li><i class="icon-fast-forward ace-icon glyphicon"></i>
				icon-fast-forward</li>
			<li><i class="icon-step-forward ace-icon glyphicon"></i>
				icon-step-forward</li>
			<li><i class="icon-eject ace-icon glyphicon"></i> icon-eject</li>
			<li><i class="icon-chevron-left ace-icon glyphicon"></i>
				icon-chevron-left</li>
			<li><i class="icon-chevron-right ace-icon glyphicon"></i>
				icon-chevron-right</li>
			<li><i class="icon-plus-sign ace-icon glyphicon"></i>
				icon-plus-sign</li>
			<li><i class="icon-minus-sign ace-icon glyphicon"></i>
				icon-minus-sign</li>
			<li><i class="icon-remove-sign ace-icon glyphicon"></i>
				icon-remove-sign</li>
			<li><i class="icon-ok-sign ace-icon glyphicon"></i> icon-ok-sign</li>
			<li><i class="icon-question-sign ace-icon glyphicon"></i>
				icon-question-sign</li>
			<li><i class="icon-info-sign ace-icon glyphicon"></i>
				icon-info-sign</li>
			<li><i class="icon-screenshot ace-icon glyphicon"></i>
				icon-screenshot</li>
			<li><i class="icon-remove-circle ace-icon glyphicon"></i>
				icon-remove-circle</li>
			<li><i class="icon-ok-circle ace-icon glyphicon"></i>
				icon-ok-circle</li>
			<li><i class="icon-ban-circle ace-icon glyphicon"></i>
				icon-ban-circle</li>
			<li><i class="icon-arrow-left ace-icon glyphicon"></i>
				icon-arrow-left</li>
			<li><i class="icon-arrow-right ace-icon glyphicon"></i>
				icon-arrow-right</li>
			<li><i class="icon-arrow-up ace-icon glyphicon"></i>
				icon-arrow-up</li>
			<li><i class="icon-arrow-down ace-icon glyphicon"></i>
				icon-arrow-down</li>
			<li><i class="icon-share-alt ace-icon glyphicon"></i>
				icon-share-alt</li>
			<li><i class="icon-mail-forward ace-icon glyphicon"></i>
				icon-mail-forward</li>
			<li><i class="icon-resize-full ace-icon glyphicon"></i>
				icon-resize-full</li>
			<li><i class="icon-resize-small ace-icon glyphicon"></i>
				icon-resize-small</li>
			<li><i class="icon-plus ace-icon glyphicon"></i> icon-plus</li>
			<li><i class="icon-minus ace-icon glyphicon"></i> icon-minus</li>
			<li><i class="icon-asterisk ace-icon glyphicon"></i>
				icon-asterisk</li>
			<li><i class="icon-exclamation-sign ace-icon glyphicon"></i>
				icon-exclamation-sign</li>
			<li><i class="icon-gift ace-icon glyphicon"></i> icon-gift</li>
			<li><i class="icon-leaf ace-icon glyphicon"></i> icon-leaf</li>
			<li><i class="icon-fire ace-icon glyphicon"></i> icon-fire</li>
			<li><i class="icon-eye-open ace-icon glyphicon"></i>
				icon-eye-open</li>
			<li><i class="icon-eye-close ace-icon glyphicon"></i>
				icon-eye-close</li>
			<li><i class="icon-warning-sign ace-icon glyphicon"></i>
				icon-warning-sign</li>
			<li><i class="icon-plane ace-icon glyphicon"></i> icon-plane</li>
			<li><i class="icon-calendar ace-icon glyphicon"></i>
				icon-calendar</li>
			<li><i class="icon-random ace-icon glyphicon"></i> icon-random</li>
			<li><i class="icon-comment ace-icon glyphicon"></i> icon-comment</li>
			<li><i class="icon-magnet ace-icon glyphicon"></i> icon-magnet</li>
			<li><i class="icon-chevron-up ace-icon glyphicon"></i>
				icon-chevron-up</li>
			<li><i class="icon-chevron-down ace-icon glyphicon"></i>
				icon-chevron-down</li>
			<li><i class="icon-retweet ace-icon glyphicon"></i> icon-retweet</li>
			<li><i class="icon-shopping-cart ace-icon glyphicon"></i>
				icon-shopping-cart</li>
			<li><i class="icon-folder-close ace-icon glyphicon"></i>
				icon-folder-close</li>
			<li><i class="icon-folder-open ace-icon glyphicon"></i>
				icon-folder-open</li>
			<li><i class="icon-resize-vertical ace-icon glyphicon"></i>
				icon-resize-vertical</li>
			<li><i class="icon-resize-horizontal ace-icon glyphicon"></i>
				icon-resize-horizontal</li>
			<li><i class="icon-bar-chart ace-icon glyphicon"></i>
				icon-bar-chart</li>
			<li><i class="icon-twitter-sign ace-icon glyphicon"></i>
				icon-twitter-sign</li>
			<li><i class="icon-facebook-sign ace-icon glyphicon"></i>
				icon-facebook-sign</li>
			<li><i class="icon-camera-retro ace-icon glyphicon"></i>
				icon-camera-retro</li>
			<li><i class="icon-key ace-icon glyphicon"></i> icon-key</li>
			<li><i class="icon-cogs ace-icon glyphicon"></i> icon-cogs</li>
			<li><i class="icon-gears ace-icon glyphicon"></i> icon-gears</li>
			<li><i class="icon-comments ace-icon glyphicon"></i>
				icon-comments</li>
			<li><i class="icon-thumbs-up-alt ace-icon glyphicon"></i>
				icon-thumbs-up-alt</li>
			<li><i class="icon-thumbs-down-alt ace-icon glyphicon"></i>
				icon-thumbs-down-alt</li>
			<li><i class="icon-star-half ace-icon glyphicon"></i>
				icon-star-half</li>
			<li><i class="icon-heart-empty ace-icon glyphicon"></i>
				icon-heart-empty</li>
			<li><i class="icon-signout ace-icon glyphicon"></i> icon-signout</li>
			<li><i class="icon-linkedin-sign ace-icon glyphicon"></i>
				icon-linkedin-sign</li>
			<li><i class="icon-pushpin ace-icon glyphicon"></i> icon-pushpin</li>
			<li><i class="icon-external-link ace-icon glyphicon"></i>
				icon-external-link</li>
			<li><i class="icon-signin ace-icon glyphicon"></i> icon-signin</li>
			<li><i class="icon-trophy ace-icon glyphicon"></i> icon-trophy</li>
			<li><i class="icon-github-sign ace-icon glyphicon"></i>
				icon-github-sign</li>
			<li><i class="icon-upload-alt ace-icon glyphicon"></i>
				icon-upload-alt</li>
			<li><i class="icon-lemon ace-icon glyphicon"></i> icon-lemon</li>
			<li><i class="icon-phone ace-icon glyphicon"></i> icon-phone</li>
			<li><i class="icon-check-empty ace-icon glyphicon"></i>
				icon-check-empty</li>
			<li><i class="icon-unchecked ace-icon glyphicon"></i>
				icon-unchecked</li>
			<li><i class="icon-bookmark-empty ace-icon glyphicon"></i>
				icon-bookmark-empty</li>
			<li><i class="icon-phone-sign ace-icon glyphicon"></i>
				icon-phone-sign</li>
			<li><i class="icon-twitter ace-icon glyphicon"></i> icon-twitter</li>
			<li><i class="icon-facebook ace-icon glyphicon"></i>
				icon-facebook</li>
			<li><i class="icon-github ace-icon glyphicon"></i> icon-github</li>
			<li><i class="icon-unlock ace-icon glyphicon"></i> icon-unlock</li>
			<li><i class="icon-credit-card ace-icon glyphicon"></i>
				icon-credit-card</li>
			<li><i class="icon-rss ace-icon glyphicon"></i> icon-rss</li>
			<li><i class="icon-hdd ace-icon glyphicon"></i> icon-hdd</li>
			<li><i class="icon-bullhorn ace-icon glyphicon"></i>
				icon-bullhorn</li>
			<li><i class="icon-bell ace-icon glyphicon"></i> icon-bell</li>
			<li><i class="icon-certificate ace-icon glyphicon"></i>
				icon-certificate</li>
			<li><i class="icon-hand-right ace-icon glyphicon"></i>
				icon-hand-right</li>
			<li><i class="icon-hand-left ace-icon glyphicon"></i>
				icon-hand-left</li>
			<li><i class="icon-hand-up ace-icon glyphicon"></i> icon-hand-up</li>
			<li><i class="icon-hand-down ace-icon glyphicon"></i>
				icon-hand-down</li>
			<li><i class="icon-circle-arrow-left ace-icon glyphicon"></i>
				icon-circle-arrow-left</li>
			<li><i class="icon-circle-arrow-right ace-icon glyphicon"></i>
				icon-circle-arrow-right</li>
			<li><i class="icon-circle-arrow-up ace-icon glyphicon"></i>
				icon-circle-arrow-up</li>
			<li><i class="icon-circle-arrow-down ace-icon glyphicon"></i>
				icon-circle-arrow-down</li>
			<li><i class="icon-globe ace-icon glyphicon"></i> icon-globe</li>
			<li><i class="icon-wrench ace-icon glyphicon"></i> icon-wrench</li>
			<li><i class="icon-tasks ace-icon glyphicon"></i> icon-tasks</li>
			<li><i class="icon-filter ace-icon glyphicon"></i> icon-filter</li>
			<li><i class="icon-briefcase ace-icon glyphicon"></i>
				icon-briefcase</li>
			<li><i class="icon-fullscreen ace-icon glyphicon"></i>
				icon-fullscreen</li>
			<li><i class="icon-group ace-icon glyphicon"></i> icon-group</li>
			<li><i class="icon-link ace-icon glyphicon"></i> icon-link</li>
			<li><i class="icon-cloud ace-icon glyphicon"></i> icon-cloud</li>
			<li><i class="icon-beaker ace-icon glyphicon"></i> icon-beaker</li>
			<li><i class="icon-cut ace-icon glyphicon"></i> icon-cut</li>
			<li><i class="icon-copy ace-icon glyphicon"></i> icon-copy</li>
			<li><i class="icon-paper-clip ace-icon glyphicon"></i>
				icon-paper-clip</li>
			<li><i class="icon-paperclip ace-icon glyphicon"></i>
				icon-paperclip</li>
			<li><i class="icon-save ace-icon glyphicon"></i> icon-save</li>
			<li><i class="icon-sign-blank ace-icon glyphicon"></i>
				icon-sign-blank</li>
			<li><i class="icon-reorder ace-icon glyphicon"></i> icon-reorder</li>
			<li><i class="icon-list-ul ace-icon glyphicon"></i> icon-list-ul</li>
			<li><i class="icon-list-ol ace-icon glyphicon"></i> icon-list-ol</li>
			<li><i class="icon-strikethrough ace-icon glyphicon"></i>
				icon-strikethrough</li>
			<li><i class="icon-underline ace-icon glyphicon"></i>
				icon-underline</li>
			<li><i class="icon-table ace-icon glyphicon"></i> icon-table</li>
			<li><i class="icon-magic ace-icon glyphicon"></i> icon-magic</li>
			<li><i class="icon-truck ace-icon glyphicon"></i> icon-truck</li>
			<li><i class="icon-pinterest ace-icon glyphicon"></i>
				icon-pinterest</li>
			<li><i class="icon-pinterest-sign ace-icon glyphicon"></i>
				icon-pinterest-sign</li>
			<li><i class="icon-google-plus-sign ace-icon glyphicon"></i>
				icon-google-plus-sign</li>
			<li><i class="icon-google-plus ace-icon glyphicon"></i>
				icon-google-plus</li>
			<li><i class="icon-money ace-icon glyphicon"></i> icon-money</li>
			<li><i class="icon-caret-down ace-icon glyphicon"></i>
				icon-caret-down</li>
			<li><i class="icon-caret-up ace-icon glyphicon"></i>
				icon-caret-up</li>
			<li><i class="icon-caret-left ace-icon glyphicon"></i>
				icon-caret-left</li>
			<li><i class="icon-caret-right ace-icon glyphicon"></i>
				icon-caret-right</li>
			<li><i class="icon-columns ace-icon glyphicon"></i> icon-columns</li>
			<li><i class="icon-sort ace-icon glyphicon"></i> icon-sort</li>
			<li><i class="icon-sort-down ace-icon glyphicon"></i>
				icon-sort-down</li>
			<li><i class="icon-sort-up ace-icon glyphicon"></i> icon-sort-up</li>
			<li><i class="icon-envelope ace-icon glyphicon"></i>
				icon-envelope</li>
			<li><i class="icon-linkedin ace-icon glyphicon"></i>
				icon-linkedin</li>
			<li><i class="icon-undo ace-icon glyphicon"></i> icon-undo</li>
			<li><i class="icon-rotate-left ace-icon glyphicon"></i>
				icon-rotate-left</li>
			<li><i class="icon-legal ace-icon glyphicon"></i> icon-legal</li>
			<li><i class="icon-dashboard ace-icon glyphicon"></i>
				icon-dashboard</li>
			<li><i class="icon-comment-alt ace-icon glyphicon"></i>
				icon-comment-alt</li>
			<li><i class="icon-comments-alt ace-icon glyphicon"></i>
				icon-comments-alt</li>
			<li><i class="icon-bolt ace-icon glyphicon"></i> icon-bolt</li>
			<li><i class="icon-sitemap ace-icon glyphicon"></i> icon-sitemap</li>
			<li><i class="icon-umbrella ace-icon glyphicon"></i>
				icon-umbrella</li>
			<li><i class="icon-paste ace-icon glyphicon"></i> icon-paste</li>
			<li><i class="icon-lightbulb ace-icon glyphicon"></i>
				icon-lightbulb</li>
			<li><i class="icon-exchange ace-icon glyphicon"></i>
				icon-exchange</li>
			<li><i class="icon-cloud-download ace-icon glyphicon"></i>
				icon-cloud-download</li>
			<li><i class="icon-cloud-upload ace-icon glyphicon"></i>
				icon-cloud-upload</li>
			<li><i class="icon-user-md ace-icon glyphicon"></i> icon-user-md</li>
			<li><i class="icon-stethoscope ace-icon glyphicon"></i>
				icon-stethoscope</li>
			<li><i class="icon-suitcase ace-icon glyphicon"></i>
				icon-suitcase</li>
			<li><i class="icon-bell-alt ace-icon glyphicon"></i>
				icon-bell-alt</li>
			<li><i class="icon-coffee ace-icon glyphicon"></i> icon-coffee</li>
			<li><i class="icon-food ace-icon glyphicon"></i> icon-food</li>
			<li><i class="icon-file-text-alt ace-icon glyphicon"></i>
				icon-file-text-alt</li>
			<li><i class="icon-building ace-icon glyphicon"></i>
				icon-building</li>
			<li><i class="icon-hospital ace-icon glyphicon"></i>
				icon-hospital</li>
			<li><i class="icon-ambulance ace-icon glyphicon"></i>
				icon-ambulance</li>
			<li><i class="icon-medkit ace-icon glyphicon"></i> icon-medkit</li>
			<li><i class="icon-fighter-jet ace-icon glyphicon"></i>
				icon-fighter-jet</li>
			<li><i class="icon-beer ace-icon glyphicon"></i> icon-beer</li>
			<li><i class="icon-h-sign ace-icon glyphicon"></i> icon-h-sign</li>
			<li><i class="icon-plus-sign-alt ace-icon glyphicon"></i>
				icon-plus-sign-alt</li>
			<li><i class="icon-double-angle-left ace-icon glyphicon"></i>
				icon-double-angle-left</li>
			<li><i class="icon-double-angle-right ace-icon glyphicon"></i>
				icon-double-angle-right</li>
			<li><i class="icon-double-angle-up ace-icon glyphicon"></i>
				icon-double-angle-up</li>
			<li><i class="icon-double-angle-down ace-icon glyphicon"></i>
				icon-double-angle-down</li>
			<li><i class="icon-angle-left ace-icon glyphicon"></i>
				icon-angle-left</li>
			<li><i class="icon-angle-right ace-icon glyphicon"></i>
				icon-angle-right</li>
			<li><i class="icon-angle-up ace-icon glyphicon"></i>
				icon-angle-up</li>
			<li><i class="icon-angle-down ace-icon glyphicon"></i>
				icon-angle-down</li>
			<li><i class="icon-desktop ace-icon glyphicon"></i> icon-desktop</li>
			<li><i class="icon-laptop ace-icon glyphicon"></i> icon-laptop</li>
			<li><i class="icon-tablet ace-icon glyphicon"></i> icon-tablet</li>
			<li><i class="icon-mobile-phone ace-icon glyphicon"></i>
				icon-mobile-phone</li>
			<li><i class="icon-circle-blank ace-icon glyphicon"></i>
				icon-circle-blank</li>
			<li><i class="icon-quote-left ace-icon glyphicon"></i>
				icon-quote-left</li>
			<li><i class="icon-quote-right ace-icon glyphicon"></i>
				icon-quote-right</li>
			<li><i class="icon-spinner ace-icon glyphicon"></i> icon-spinner</li>
			<li><i class="icon-circle ace-icon glyphicon"></i> icon-circle</li>
			<li><i class="icon-reply ace-icon glyphicon"></i> icon-reply</li>
			<li><i class="icon-mail-reply ace-icon glyphicon"></i>
				icon-mail-reply</li>
			<li><i class="icon-github-alt ace-icon glyphicon"></i>
				icon-github-alt</li>
			<li><i class="icon-folder-close-alt ace-icon glyphicon"></i>
				icon-folder-close-alt</li>
			<li><i class="icon-folder-open-alt ace-icon glyphicon"></i>
				icon-folder-open-alt</li>
			<li><i class="icon-expand-alt ace-icon glyphicon"></i>
				icon-expand-alt</li>
			<li><i class="icon-collapse-alt ace-icon glyphicon"></i>
				icon-collapse-alt</li>
			<li><i class="icon-smile ace-icon glyphicon"></i> icon-smile</li>
			<li><i class="icon-frown ace-icon glyphicon"></i> icon-frown</li>
			<li><i class="icon-meh ace-icon glyphicon"></i> icon-meh</li>
			<li><i class="icon-gamepad ace-icon glyphicon"></i> icon-gamepad</li>
			<li><i class="icon-keyboard ace-icon glyphicon"></i>
				icon-keyboard</li>
			<li><i class="icon-flag-alt ace-icon glyphicon"></i>
				icon-flag-alt</li>
			<li><i class="icon-flag-checkered ace-icon glyphicon"></i>
				icon-flag-checkered</li>
			<li><i class="icon-terminal ace-icon glyphicon"></i>
				icon-terminal</li>
			<li><i class="icon-code ace-icon glyphicon"></i> icon-code</li>
			<li><i class="icon-reply-all ace-icon glyphicon"></i>
				icon-reply-all</li>
			<li><i class="icon-mail-reply-all ace-icon glyphicon"></i>
				icon-mail-reply-all</li>
			<li><i class="icon-star-half-empty ace-icon glyphicon"></i>
				icon-star-half-empty</li>
			<li><i class="icon-star-half-full ace-icon glyphicon"></i>
				icon-star-half-full</li>
			<li><i class="icon-location-arrow ace-icon glyphicon"></i>
				icon-location-arrow</li>
			<li><i class="icon-crop ace-icon glyphicon"></i> icon-crop</li>
			<li><i class="icon-code-fork ace-icon glyphicon"></i>
				icon-code-fork</li>
			<li><i class="icon-unlink ace-icon glyphicon"></i> icon-unlink</li>
			<li><i class="icon-question ace-icon glyphicon"></i>
				icon-question</li>
			<li><i class="icon-info ace-icon glyphicon"></i> icon-info</li>
			<li><i class="icon-exclamation ace-icon glyphicon"></i>
				icon-exclamation</li>
			<li><i class="icon-superscript ace-icon glyphicon"></i>
				icon-superscript</li>
			<li><i class="icon-subscript ace-icon glyphicon"></i>
				icon-subscript</li>
			<li><i class="icon-eraser ace-icon glyphicon"></i> icon-eraser</li>
			<li><i class="icon-puzzle-piece ace-icon glyphicon"></i>
				icon-puzzle-piece</li>
			<li><i class="icon-microphone ace-icon glyphicon"></i>
				icon-microphone</li>
			<li><i class="icon-microphone-off ace-icon glyphicon"></i>
				icon-microphone-off</li>
			<li><i class="icon-shield ace-icon glyphicon"></i> icon-shield</li>
			<li><i class="icon-calendar-empty ace-icon glyphicon"></i>
				icon-calendar-empty</li>
			<li><i class="icon-fire-extinguisher ace-icon glyphicon"></i>
				icon-fire-extinguisher</li>
			<li><i class="icon-rocket ace-icon glyphicon"></i> icon-rocket</li>
			<li><i class="icon-maxcdn ace-icon glyphicon"></i> icon-maxcdn</li>
			<li><i class="icon-chevron-sign-left ace-icon glyphicon"></i>
				icon-chevron-sign-left</li>
			<li><i class="icon-chevron-sign-right ace-icon glyphicon"></i>
				icon-chevron-sign-right</li>
			<li><i class="icon-chevron-sign-up ace-icon glyphicon"></i>
				icon-chevron-sign-up</li>
			<li><i class="icon-chevron-sign-down ace-icon glyphicon"></i>
				icon-chevron-sign-down</li>
			<li><i class="icon-html5 ace-icon glyphicon"></i> icon-html5</li>
			<li><i class="icon-css3 ace-icon glyphicon"></i> icon-css3</li>
			<li><i class="icon-anchor ace-icon glyphicon"></i> icon-anchor</li>
			<li><i class="icon-unlock-alt ace-icon glyphicon"></i>
				icon-unlock-alt</li>
			<li><i class="icon-bullseye ace-icon glyphicon"></i>
				icon-bullseye</li>
			<li><i class="icon-ellipsis-horizontal ace-icon glyphicon"></i>
				icon-ellipsis-horizontal</li>
			<li><i class="icon-ellipsis-vertical ace-icon glyphicon"></i>
				icon-ellipsis-vertical</li>
			<li><i class="icon-rss-sign ace-icon glyphicon"></i>
				icon-rss-sign</li>
			<li><i class="icon-play-sign ace-icon glyphicon"></i>
				icon-play-sign</li>
			<li><i class="icon-ticket ace-icon glyphicon"></i> icon-ticket</li>
			<li><i class="icon-minus-sign-alt ace-icon glyphicon"></i>
				icon-minus-sign-alt</li>
			<li><i class="icon-check-minus ace-icon glyphicon"></i>
				icon-check-minus</li>
			<li><i class="icon-level-up ace-icon glyphicon"></i>
				icon-level-up</li>
			<li><i class="icon-level-down ace-icon glyphicon"></i>
				icon-level-down</li>
			<li><i class="icon-check-sign ace-icon glyphicon"></i>
				icon-check-sign</li>
			<li><i class="icon-edit-sign ace-icon glyphicon"></i>
				icon-edit-sign</li>
			<li><i class="icon-external-link-sign ace-icon glyphicon"></i>
				icon-external-link-sign</li>
			<li><i class="icon-share-sign ace-icon glyphicon"></i>
				icon-share-sign</li>
			<li><i class="icon-compass ace-icon glyphicon"></i> icon-compass</li>
			<li><i class="icon-collapse ace-icon glyphicon"></i>
				icon-collapse</li>
			<li><i class="icon-collapse-top ace-icon glyphicon"></i>
				icon-collapse-top</li>
			<li><i class="icon-expand ace-icon glyphicon"></i> icon-expand</li>
			<li><i class="icon-eur ace-icon glyphicon"></i> icon-eur</li>
			<li><i class="icon-euro ace-icon glyphicon"></i> icon-euro</li>
			<li><i class="icon-gbp ace-icon glyphicon"></i> icon-gbp</li>
			<li><i class="icon-usd ace-icon glyphicon"></i> icon-usd</li>
			<li><i class="icon-dollar ace-icon glyphicon"></i> icon-dollar</li>
			<li><i class="icon-inr ace-icon glyphicon"></i> icon-inr</li>
			<li><i class="icon-rupee ace-icon glyphicon"></i> icon-rupee</li>
			<li><i class="icon-jpy ace-icon glyphicon"></i> icon-jpy</li>
			<li><i class="icon-yen ace-icon glyphicon"></i> icon-yen</li>
			<li><i class="icon-cny ace-icon glyphicon"></i> icon-cny</li>
			<li><i class="icon-renminbi ace-icon glyphicon"></i>
				icon-renminbi</li>
			<li><i class="icon-krw ace-icon glyphicon"></i> icon-krw</li>
			<li><i class="icon-won ace-icon glyphicon"></i> icon-won</li>
			<li><i class="icon-btc ace-icon glyphicon"></i> icon-btc</li>
			<li><i class="icon-bitcoin ace-icon glyphicon"></i> icon-bitcoin</li>
			<li><i class="icon-file ace-icon glyphicon"></i> icon-file</li>
			<li><i class="icon-file-text ace-icon glyphicon"></i>
				icon-file-text</li>
			<li><i class="icon-sort-by-alphabet ace-icon glyphicon"></i>
				icon-sort-by-alphabet</li>
			<li><i class="icon-sort-by-alphabet-alt ace-icon glyphicon"></i>
				icon-sort-by-alphabet-alt</li>
			<li><i class="icon-sort-by-attributes ace-icon glyphicon"></i>
				icon-sort-by-attributes</li>
			<li><i class="icon-sort-by-attributes-alt ace-icon glyphicon"></i>
				icon-sort-by-attributes-alt</li>
			<li><i class="icon-sort-by-order ace-icon glyphicon"></i>
				icon-sort-by-order</li>
			<li><i class="icon-sort-by-order-alt ace-icon glyphicon"></i>
				icon-sort-by-order-alt</li>
			<li><i class="icon-thumbs-up ace-icon glyphicon"></i>
				icon-thumbs-up</li>
			<li><i class="icon-thumbs-down ace-icon glyphicon"></i>
				icon-thumbs-down</li>
			<li><i class="icon-youtube-sign ace-icon glyphicon"></i>
				icon-youtube-sign</li>
			<li><i class="icon-youtube ace-icon glyphicon"></i> icon-youtube</li>
			<li><i class="icon-xing ace-icon glyphicon"></i> icon-xing</li>
			<li><i class="icon-xing-sign ace-icon glyphicon"></i>
				icon-xing-sign</li>
			<li><i class="icon-youtube-play ace-icon glyphicon"></i>
				icon-youtube-play</li>
			<li><i class="icon-dropbox ace-icon glyphicon"></i> icon-dropbox</li>
			<li><i class="icon-stackexchange ace-icon glyphicon"></i>
				icon-stackexchange</li>
			<li><i class="icon-instagram ace-icon glyphicon"></i>
				icon-instagram</li>
			<li><i class="icon-flickr ace-icon glyphicon"></i> icon-flickr</li>
			<li><i class="icon-adn ace-icon glyphicon"></i> icon-adn</li>
			<li><i class="icon-bitbucket ace-icon glyphicon"></i>
				icon-bitbucket</li>
			<li><i class="icon-bitbucket-sign ace-icon glyphicon"></i>
				icon-bitbucket-sign</li>
			<li><i class="icon-tumblr ace-icon glyphicon"></i> icon-tumblr</li>
			<li><i class="icon-tumblr-sign ace-icon glyphicon"></i>
				icon-tumblr-sign</li>
			<li><i class="icon-long-arrow-down ace-icon glyphicon"></i>
				icon-long-arrow-down</li>
			<li><i class="icon-long-arrow-up ace-icon glyphicon"></i>
				icon-long-arrow-up</li>
			<li><i class="icon-long-arrow-left ace-icon glyphicon"></i>
				icon-long-arrow-left</li>
			<li><i class="icon-long-arrow-right ace-icon glyphicon"></i>
				icon-long-arrow-right</li>
			<li><i class="icon-apple ace-icon glyphicon"></i> icon-apple</li>
			<li><i class="icon-windows ace-icon glyphicon"></i> icon-windows</li>
			<li><i class="icon-android ace-icon glyphicon"></i> icon-android</li>
			<li><i class="icon-linux ace-icon glyphicon"></i> icon-linux</li>
			<li><i class="icon-dribbble ace-icon glyphicon"></i>
				icon-dribbble</li>
			<li><i class="icon-skype ace-icon glyphicon"></i> icon-skype</li>
			<li><i class="icon-foursquare ace-icon glyphicon"></i>
				icon-foursquare</li>
			<li><i class="icon-trello ace-icon glyphicon"></i> icon-trello</li>
			<li><i class="icon-female ace-icon glyphicon"></i> icon-female</li>
			<li><i class="icon-male ace-icon glyphicon"></i> icon-male</li>
			<li><i class="icon-gittip ace-icon glyphicon"></i> icon-gittip</li>
			<li><i class="icon-sun ace-icon glyphicon"></i> icon-sun</li>
			<li><i class="icon-moon ace-icon glyphicon"></i> icon-moon</li>
			<li><i class="icon-archive ace-icon glyphicon"></i> icon-archive</li>
			<li><i class="icon-bug ace-icon glyphicon"></i> icon-bug</li>
			<li><i class="icon-vk ace-icon glyphicon"></i> icon-vk</li>
			<li><i class="icon-weibo ace-icon glyphicon"></i> icon-weibo</li>
			<li><i class="icon-renren ace-icon glyphicon"></i> icon-renren</li>
		</ul>

	</div>