<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.model.mapper.FormMapper">

	<resultMap id="BaseResultMap" type="form">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="table_cname" jdbcType="VARCHAR" property="tableCname" />
		<result column="table_ename" jdbcType="VARCHAR" property="tableEname" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id, table_cname, table_ename, status, type, description,
		create_time
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tdb_tables
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tdb_tables
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.wy.model.entity.Form">
		insert into tdb_tables (id,
		table_cname, table_ename,
		status, type, description,
		create_time)
		values
		(#{id,jdbcType=INTEGER}, #{tableCname,jdbcType=VARCHAR},
		#{tableEname,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="com.wy.model.entity.Form">
		insert into tdb_tables
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="tableCname != null">
				table_cname,
			</if>
			<if test="tableEname != null">
				table_ename,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="tableCname != null">
				#{tableCname,jdbcType=VARCHAR},
			</if>
			<if test="tableEname != null">
				#{tableEname,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="desc != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.wy.model.entity.Form">
		update tdb_tables
		<set>
			<if test="tableCname != null">
				table_cname = #{tableCname,jdbcType=VARCHAR},
			</if>
			<if test="tableEname != null">
				table_ename = #{tableEname,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.wy.model.entity.Form">
		update tdb_tables
		set table_cname = #{tableCname,jdbcType=VARCHAR},
		table_ename =
		#{tableEname,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		type = #{type,jdbcType=INTEGER},
		description = #{description,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="getFormList" resultMap="BaseResultMap">
		<bind name="menuName" value=" '%' + _parameter + '%' " />
		select
		<include refid="Base_Column_List"></include>
		from tdb_tables where 1=1
		<if test=" _parameter != null and _parameter != '' ">
			and table_cname like #{menuName}
		</if>
		order by create_time desc
	</select>

</mapper>