<div>
	<div class="col-xs-12">
		<div class="form-group">
			<table style="width:98%;">
				<td width="100" style="text-align:right;">
					<label style="display:inline;">表单名称：</label>
				</td>
				<td width="180">
					<input type="text" id="formName" class="width-130" style="height:34px;display:inline;">
				</td>
				<td width="*">
					<div style="width:100%;text-align:rigth;">
						<button id="searchBtn" class="btn btn-white btn-info" style="width:80px;margin-right:6px;">
							<i class="ace-icon fa fa-floppy-o bigger-120 blue" style="margin-right:5px;"></i>搜索
						</button>
						<button id="resetBtn" class="btn btn-white btn-warning btn-bold" style="width:80px;margin-right:6px;">
							<i class="ace-icon fa fa-trash-o bigger-120 orange" style="margin-right:5px;"></i>重置
						</button>
					</div>
				</td>
				<td width="*">
					<div class="pull-right tableTools-container">
						<div class="dt-buttons btn-overlap btn-group">
							<a id="formAdd" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"
								tabindex="0" aria-controls="dynamic-table" data-original-title="" title="添加">
								<span>
									<i class="fa icon-plus-sign bigger-110 blue"></i>
									<span class="hidden">Show/hide columns</span>
								</span>
							</a>
							<a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold"
								tabindex="0" aria-controls="dynamic-table" data-original-title="" title="">
								<span>
									<i class="fa fa-copy bigger-110 pink"></i>
									<span class="hidden">Copy to clipboard</span>
								</span>
							</a>
							<a class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold"
								tabindex="0" aria-controls="dynamic-table" data-original-title="" title="">
								<span>
									<i class="fa fa-database bigger-110 orange"></i> <span
									class="hidden">Export to CSV</span>
								</span>
							</a>
							<a class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold"
								tabindex="0" aria-controls="dynamic-table">
								<span>
									<i class="fa fa-file-excel-o bigger-110 green"></i> 
									<span class="hidden">Export to Excel</span>
								</span>
							</a>
							<a class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold"
								tabindex="0" aria-controls="dynamic-table">
								<span>
									<i class="fa fa-file-pdf-o bigger-110 red"></i> 
									<span class="hidden">Exportto PDF</span>
								</span>
							</a>
							<a class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="">
								<span>
									<i class="fa fa-print bigger-110 grey"></i>
									<span class="hidden">Print</span>
								</span>
							</a>
						</div>
					</div>
				</td>
			</table>
		</div>
		<table id="simple-table_form" class="table table-bordered table-hover" 
			service="/form/list" condition="formName" hiddenfield="" pagable="true"
			pageId="grid-pager" currentPage="1" pageSize="6" model="detail"
			onTableDataBind="" onRowClick="">
			<thead>
				<tr>
					<th width="60" class="center">
						<label class="pos-rel"> 
							<input type="radio" class="ace"><span class="lbl"></span>
						</label>
					</th>
					<th field="tableCname" class="detail-col">表单中文名</th>
					<th field="tableEname">表单英文名</th>
					<th field="description">描述</th>
					<th field="createTime">
						<i class="ace-icon fa fa-clock-o bigger-110 hidden-480" style="margin-right: 5px;"></i>创建时间
					</th>
					<th field="type" onViewBind="setType">表单类型</th>
					<th field="status" onViewBind="setStatus">状态</th>
					<th operation width="120" class="center">
						操作
						<div operation style="display:none;">
							<button class="btn btn-xs btn-info" operation="editMenu" title="编辑">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
							</button>
	
							<button class="btn btn-xs btn-danger" operation="deleteMenu" title="删除">
								<i class="ace-icon fa fa-trash-o bigger-120"></i>
							</button>
						</div>
					</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div id="grid-pager"></div>
	</div>
</div>
<script>

	$(function() {
		$("#simple-table_form").table();
		
		$("#searchBtn").click(function(){
			$("#simple-table").table();
		});
		
		$("#resetBtn").click(function(){
			$(".form-group :text").val("");
			$("#simple-table").table();
		});
		
		$("#formAdd").click(function(){
			layer.open({
				type : 1,
				title : '<h5 class="widget-title lighter"><i class="fa fa-pencil-square-o glyphicon glyphicon-book"></i><font style="margin-left:5px;">表单添加</font></h5>',
				shadeClose : false,
				btn: ["确定","取消"],
				area : [ '700px', '300px' ],
				content : "",
				success: function(layero,index){
					$(layero).find(".layui-layer-content").ajax("/form/edit/-1");
				},
				yes: function(index, layero){
					if($("#menuform").validate()){
						var post = new Post("/form/edit/-1");
						post.setRangeParam("#menuform");
						post.doPost();
						if(post.getCode() >= 0){
							alert2("操作成功！");
							$("#simple-table").table();
							layer.close(index);
						}else{
							post.showErr();
						}
					}
				}
			});
		});
		
	});
	
	function editMenu(tr){
		var id = $(tr).attr("menuid");
		layer.open({
			type : 1,
			title : '<h5 class="widget-title lighter"><i class="ace-icon glyphicon glyphicon-book"></i>菜单编辑</h5>',
			shadeClose : false,
			btn: ["确定","取消"],
			area : [ '700px', '415px' ],
			content : "",
			success: function(layero,index){
				$(layero).find(".layui-layer-content").ajax("/form/edit/"+id);
			},
			yes: function(index, layero){
				if($("#menuform").validate()){
					var post = new Post("/menu/updates/"+id);
					post.setRangeParam("#menuform");
					post.doPost();
					if(post.getCode() >= 0){
						alert2("操作成功！");
						$("#resetBtn").click();
						layer.close(index);
					}else{
						post.showErr();
					}
				}
			}
		});
	}
	
	function deleteMenu(tr){
		confirm2("确定删除吗？",function(index){
			var menuId = $(tr).attr("menuid");
			var post = new Post("/menu/delete/"+menuId);
			post.doPost();
			if(post.getCode() >= 0){
				alert2("操作成功！");
				$("#resetBtn").click();
				layer.close(index);
			}else{
				post.showErr();
			}
		});
	}

	function setStatus(status) {
		if (status == 1) {
			return "<font style='color:green'>启用</font>";
		} else {
			return "<font style='color:red'>禁用</font>";
		}
	}
	
	function setType(type) {
		if(type == 1){
			return "基本表单";
		}
	}
	
</script>